{# TODO: Split this out maybe #}
(cloudflare) {
  tls {
    dns cloudflare {{ cloudflare_token }}
  }
}
# cockpit
server.{{ domain_name }} {
  import cloudflare
  reverse_proxy localhost:{{ cockpit_port }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
# emby
media.{{ domain_name }} {
  import cloudflare
  reverse_proxy localhost:{{ emby_port }}
}
