{# TODO: Split this out maybe #}
(cloudflare) {
  tls {
    dns cloudflare {{ cloudflare_token }}
  }
}
# immich
photos.{{ domain_name }} {
  import cloudflare
  reverse_proxy localhost:{{ immich_port }}
}
# freshrss
feeds.{{ domain_name }} {
  import cloudflare
  reverse_proxy localhost:{{ freshrss_port }}
}
# forgejo
git.{{ domain_name }} {
  import cloudflare
  reverse_proxy localhost:{{ forgejo_port }}
}
# syncthing
sync.{{ domain_name }} {
  import cloudflare
  reverse_proxy localhost:{{ syncthing_port }}
}
# cockpit
server.{{ domain_name }} {
  import cloudflare
  reverse_proxy localhost:{{ cockpit_port }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
# karakeep
links.{{ domain_name }} {
  import cloudflare
  reverse_proxy localhost:{{ karakeep_port }}
}
# emby
media.{{ domain_name }} {
  import cloudflare
  reverse_proxy localhost:{{ emby_port }}
}
# jellyfin
#media2.{{ domain_name }} {
#  import cloudflare
#  reverse_proxy localhost:{{ jellyfin_port }}
#}
# plex
#plex.{{ domain_name }} {
#  import cloudflare
#  header {
#    Strict-Transport-Security max-age=31536000;
#    X-Content-Type-Options nosniff
#    X-Frame-Options DENY
#    Referrer-Policy no-referrer-when-downgrade
#    X-XSS-Protection 1
#  }
#  reverse_proxy localhost:{{ plex_port }}
#}
