{# TODO: Split this out maybe #}
{
  admin "unix//var/lib/caddy/admin.socket"
}
(cloudflare) {
  tls {
    dns cloudflare {{ cloudflare_token }}
  }
}
# immich
photos.{{ domain_name }} {
  import cloudflare
  reverse_proxy {{ local_tailnet_name }}:2283
}
# freshrss
feeds.{{ domain_name }} {
  import cloudflare
  reverse_proxy {{ local_tailnet_name }}:8083
}
# linkding
bookmarks.{{ domain_name }} {
  import cloudflare
  reverse_proxy {{ local_tailnet_name }}:9091
}
# memos
blog.{{ domain_name }} {
  import cloudflare
  reverse_proxy {{ local_tailnet_name }}:5230
}
# forgejo
git.{{ domain_name }} {
  import cloudflare
  reverse_proxy {{ local_tailnet_name }}:8700
}
# plex
plex.{{ domain_name }} {
  import cloudflare
  header {
    Strict-Transport-Security max-age=31536000;
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
    X-XSS-Protection 1
  }
  reverse_proxy {{ local_tailnet_name }}:32400
}
# syncthing
sync.{{ domain_name }} {
  import cloudflare
  reverse_proxy {{ local_tailnet_name }}:8384
}
# pinchflat
#tube.{{ domain_name }} {
#  import cloudflare
#  reverse_proxy {{ local_tailnet_name }}:8945
#}
# mealie
recipe.{{ domain_name }} {
  import cloudflare
  reverse_proxy {{ local_tailnet_name }}:9000
}
# cockpit
server.{{ domain_name }} {
  import cloudflare
  reverse_proxy {{ local_tailnet_name }}:9090 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
# snappymail
email.{{ domain_name }} {
  import cloudflare
  reverse_proxy {{ local_tailnet_name }}:8888
}
# wishlist
wishlist.{{ domain_name }} {
  import cloudflare
  reverse_proxy {{ local_tailnet_name }}:3280
}
