source_directories:
  - /home
  - /etc
  - /root
  - /var/opt
  - /var/log
  - /mnt/Music
repositories:
    - path: '{{ remote_borg_repo_path }}'
      label: "remote"
    - path: '{{ local_borg_repo_path }}'
      label: "local"
compression: auto,lzma,9
encryption_passphrase: '{{ borg_passphrase }}'
archive_name_format: '{hostname}-{now:%Y-%m-%d-%H%M%S}'
retries: 5
retry_wait: 5
keep_within: 5d
keep_daily: 4
keep_weekly: 3
keep_monthly: 0
keep_yearly: 0
before_backup:
  - podman exec -u postgres:postgres -t immich-postgres pg_dumpall > /root/borgmatic-dump-immich-postgres
  - sqlite3 /var/opt/memos/memos_prod.db .dump > /root/borgmatic-dump-sqlite3-memos
  - sqlite3 /var/opt/forgejo/gitea/gitea.db .dump > /root/borgmatic-dump-sqlite3-forgejo
  - sqlite3 /var/opt/freshrss/www/freshrss/data/users/alex/db.sqlite .dump > /root/borgmatic-dump-sqlite3-freshrss-_-user
  - sqlite3 /var/opt/freshrss/www/freshrss/data/users/_/db.sqlite .dump > /root/borgmatic-dump-sqlite3-freshrss-alex-user
  - sqlite3 /var/opt/hoarder-server/db.db .dump > /root/borgmatic-dump-sqlite3-hoarder-db
  - sqlite3 /var/opt/hoarder-server/queue.db .dump > /root/borgmatic-dump-sqlite3-hoarder-queue
after_backup:
  - rm /root/borgmatic-dump-immich-postgres
  - rm /root/borgmatic-dump-sqlite3-memos
  - rm /root/borgmatic-dump-sqlite3-forgejo
  - rm /root/borgmatic-dump-sqlite3-freshrss-_-user
  - rm /root/borgmatic-dump-sqlite3-freshrss-alex-user
  - rm /root/borgmatic-dump-sqlite3-hoarder-db
  - rm /root/borgmatic-dump-sqlite3-hoarder-queue
